<div class="container">
  <h1>Welcome to TweetSnatcher!</h1>
  <p>Hello, stalker-to-be!</p>

  <form method="post" action="/tweets">
    <label for="username"> Insert Twitter username here: </label>
    <input type="text" name="username" placeholder="Twitter Username">
    <input type="submit" name="Catch 'em all!">
  </form>

</div>
